body {
  margin: 0 auto;
  background-color: #D5E1EF;
}

p, h1 {
  margin: 0;
  padding: 0;
}

.qr-wrapper {
  background-color: #ffffff;
  width: 320px;
  padding: 16px 16px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 25px 25px 0 rgba(0,0,0, 0.477);
}

img { 
  width: 100%; 
  border-radius: 10px;
}

h1 {
  margin: 24px auto 16px;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #1F314F;
  width: 256px;
}

p {
  color: #68778D;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  width: 256px;
  margin: 0 auto;
}